<div class="jumbotron">
	<h1 class="text-center">Alurapic</h1>
</div>

<div class="row">
	<div class="col-md-12">
		<form>
			<input ng-model="filter" class="form-control" placeholder="aaaa" type="text" ng-model-options="{ debounce: 500 }">
		</form>
	</div>
</div>

<div class="row">
	<my-panel class="col-md-2 animate-panel" ng-repeat="photo in photos | filter: filter" title="{{photo.titulo}}" url="{{photo.url}}">
		<img class="img-responsive center-block" ng-src="{{photo.url}}" ng-alt="{{photo.titulo}}">
	</my-panel>
</div>